<!doctype html>
<html lang="en">
{% load static %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<link rel="stylesheet" href="{% static 'footer.css' %}">
</head>

<body>

    <section class="contact-area" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="contact-content text-center">
                        <a href="#"><img id="img" src="{% static '20210816_151425.png' %}" alt="logo"></a>
                        <p>We are here for an amazing design, Always in creativity.
                            The power of design, Bringing creativity to life.
                            Creating in all places.
                            Splendid design agency. </p>
                        <div class="hr"></div>
                        <h6> tlcgraphics80@gmail.com</h6>
                        <h6>+91 7425 976118<span>|</span>+91 8955 383802</h6>
                        <div class="contact-social">
                            <ul>
                                <li><a class="hover-target" href="https://www.instagram.com/tlc.graphics"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a class="hover-target" href="https://m.facebook.com/tlcgraphic/"><i class="fa fa-facebook-square"
                                            aria-hidden="true"></i></a></li>
                                <li><a class="hover-target" href="https://wa.me/message/A6N3YWZB5FQPF1"><i class="fa fa-whatsapp"
                                            aria-hidden="true"></i></a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- copyright section here -->
    <footer>
        <p>Copyright &copy; 2020 - 2021 <img src="{% static '20210816_151425.png' %}" alt="logo"> All Rights Reserved.
        </p>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
</body>

</html>