<!doctype html>
<html lang="en">
  {% load static %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- googel fonts cdn links -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Aladin&family=Oxygen+Mono&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Style+Script&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="{% static 'header.css' %}"> -->
    <title>{% block content %}TLC GRAPHICS {% endblock %}</title>
    <link rel="shortcut icon" href="/static/ux.png">

    <style>
      #preloader{
        background: #000 url(https://miro.medium.com/max/1838/1*e_Loq49BI4WmN7o9ItTADg.gif) no-repeat center;
        background-size: 30%;
        height: 100vh;
        width: 100%;
        position: fixed;
        z-index: 100;
    }
    body{
      font-size: 1rem;
    }
  </style>
  </head>
  <body>
    <div id="preloader"></div>


    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black;">
      <a class="navbar-brand " href="#">
        <img src="{% static '20210818_102213.png' %}"  class="ml-2" height="80" id="ii"  alt="">
      </a>
        <button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav  ml-auto mr-5" >
            <li class="nav-item active">
              <a class="nav-link" style=" font-size:   1.3125rem ;color:white" href="{% url 'home' %}"> <span style="color: white;">HOME</span>  <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style=" font-size:   1.3125rem ;color:white" href="{% url 'services' %}">SERVICES</a>
            </li>




            <li class="nav-item dropdown active" >
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size:    1.3125rem;">
                PROJECTS
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background:black">
                <a class="dropdown-item" href="{% url 'project_one' %}" style=" font-size:   1.125rem ;color:white;background:black">GRAPHIC</a>
                <a class="dropdown-item" href="{% url 'web_one' %}"  style=" font-size:   1.125rem ;color:white;background:black">DEVELOPMENT</a>
                <!-- <a class="dropdown-item" href="#"  style=" font-size:   1.3125rem ;color:white;background:black">THREE</a> -->
              </div>
            </li>

            <!-- <div class="dropdown" style="margin-top: 8px;">
              <a class="dropbtn mr-1 ml-1" style=" font-size:  1.37434554973822vw ;color:white">PROJECTS</a>
              <div class="dropdown-content" style="background-color: black;">
                  <a style="font-size: 1.37434554973822vw ;color: white;text-decoration:none" href="">ONE</a>
                  </a>
                  <a style="font-size: 1.37434554973822vw ;color: white;text-decoration:none" href="">TWO</a>
                  <a style="font-size: 1.37434554973822vw ;color: white;text-decoration:none" href="">THREE</a>
                  <a style="font-size: 1.37434554973822vw ;color: white;text-decoration:none" href="">FOUR</a>
                  <a style="font-size: 1.37434554973822vw ;color: white;text-decoration:none" href="">FIVE</a>
              </div>
          </div> -->


            <li class="nav-item">
              <a class="nav-link " style=" font-size:   1.3125rem ;color:white" href="{% url 'team' %}">TEAM</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " style=" font-size:   1.3125rem ;color:white" href="{% url 'contact' %}">CONTACT</a>
            </li>
          </ul>
         
        </div>
      </nav>


      {% for message in messages %}
      <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <strong>Message</strong> {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  
    <script>
      const $dropdown = $(".dropdown");
const $dropdownToggle = $(".dropdown-toggle");
const $dropdownMenu = $(".dropdown-menu");
const showClass = "show";

$(window).on("load resize", function() {
  if (this.matchMedia("(min-width: 768px)").matches) {
    $dropdown.hover(
      function() {
        const $this = $(this);
        $this.addClass(showClass);
        $this.find($dropdownToggle).attr("aria-expanded", "true");
        $this.find($dropdownMenu).addClass(showClass);
      },
      function() {
        const $this = $(this);
        $this.removeClass(showClass);
        $this.find($dropdownToggle).attr("aria-expanded", "false");
        $this.find($dropdownMenu).removeClass(showClass);
      }
    );
  } else {
    $dropdown.off("mouseenter mouseleave");
  }
});
    </script>


    <script>
      var loader = document.getElementById("preloader")
      window.addEventListener("load",function(){
          loader.style.display = "none";
      })
  </script>

  
  </body>
</html>