{% extends 'tlcs/base.html' %}
{% load static %}
{% block body %}

<div id="project" class="mb-0"
    style="background: linear-gradient(90deg, rgba(251,45,0,0.981127485173757) 34%, rgba(3,2,2,1) 73%);color:white;">
    <div class="container mb-0">
        <h1 class="text-center text-capitalize  pt-4" style="font-size: 2.945026178010471vw">creatice graphic project
        </h1>
        <div class="col mb-0">
            <din class="col-12 mb-0">
                <img src="{% static 'IMG_20210820_103911.jpg' %}" class="img-fluid  pt-5" alt="">
            </din>
        </div>
    </div>
</div>

<!-- types of logo -->
<div id="types" class="mb-0" style="background-color: black;color:white">
    <div class="container mb-0">
        <h2 class="text-uppercase m-0  pt-4 " style="color: yellow;letter-spacing :4px;font-weight:bolder;font-size:2.1596858638743455vw">
            &#183;
            digital brand addvertisement degigns
        </h2>

        <ol class="mb-0 pl-5">
            <li class="pt-4">
                <span class="text-uppercase" style="font-size:  1.3089005235602094vw;font-weight:bolder">business cards &#58;-</span>
                <span class="text-capitalize text-justify" style="font-size: 1.1780104712041886vw
                ">every professional graphic designer known that business card must be decent but creative designer must follow<br> information & creative design with decent look.</span>            
            </li>
            <li class="pt-4">
                <span class="text-uppercase"  style="font-size:  1.3089005235602094vw;font-weight:bolder">banners/posters/flyers &#58;-</span>
                <span class="text-capitalize text-justify" style="font-size: 1.1780104712041886vw
                ">basically these types of design use in represent our business work and also help to increase our network.<br> we have three types of design -<br>
                    ✓ basics & decent<br>
                    ✓ standard design<br>
                    ✓ super standard design<br>
                </span>         
            </li>
            <li class="pt-4">
                <span class="text-uppercase" style="font-size:  1.3089005235602094vw;font-weight:bolder">social media design &#58;-</span>
                <span class="text-capitalize text-justify;" style="font-size: 1.1780104712041886vw
                ">social media is the right and great way to promote our digital brand.<br> we have creativity for your brand social media to represent your work.<br>
                    ✓ posts designs<br>
                    ✓ animation advertisement video<br>
                    ✓ people approach content<br>
                </span>  
            </li>
        </ol>

        <div class="container text-center py-4">

            <a href="{% url 'project_one' %}" class="btn btn-outline-secondary text-center"
                style="color: white;font-size: 1.4397905759162304vw">&#10218;BACK</a>
        </div>
    </div>

</div>

{% endblock body %}
<!-- <div style="font-size: 1.112565445026178vw;" class="pl-5 text-white text-justify">
    ✓ Monogram or Lattermark<br>
    ✓ Word Mark<br>
    ✓ Pictorial Mark<br>
    ✓ Abstract Logo<br>
    ✓ Moscots Logo<br>
    ✓ Combination Logo<br>
    ✓ The Emblem Logo<br>
</div> 














  <div style="font-size: 1.112565445026178vw;" class="pl-5 text-white text-justify">
                        ✓ Texture Effect<br>
                        ✓ Light Mochup<br>
                        ✓ 2d + Background<br>
                        ✓ 3d + Background<br>
                    </div>
-->