{% extends 'tlcs/base.html' %}
{% load static %}
{% block body %}
<style>
    #service {
        background: url("/static/image_search_1628767535349.png");
    }
</style>

<body>


    <div id="service">
        <div class="container-fluid" style="background: rgba(1, 1, 1, 0.6);
    background: -webkit-linear-gradient(right, rgba(1, 1, 1, 0.6), rgba(255, 1, 17, 0.6));
    background: -moz-linear-gradient(right, rgba(1, 1, 1,0.6), rgba(255, 1, 17,0.6));
    background: linear-gradient(to left, rgba(1, 1, 1, 1.0), rgba(255, 1, 17, 0.6));color:white">
            <!-- <div class="row">
        <div class="col-md-8">

        </div> -->

            <div class="col-md-12  " style="display: flex;justify-content:flex-end;align-items:center;">
                <h1 class="text-uppercase mt-5 mr-5"
                    style="font-size: 3.814136vw;font-family: 'Oxygen Mono', monospace;"> <span style="font-size: 5.141361vw;color:yellow;font-family: 'Aladin', cursive;
               ">WEB DESIGN</span> <br> <span style="font-family: 'Aladin', cursive;">& development</span> <span
                        style="font-size:   1.37434554973822vw;font-family: 'Oxygen Mono', monospace;"><br>grow with our
                        creativity!</span> </h1>

            </div>
        </div>
    </div>
    </div>

    <div id="serv" style="color: white; background-color:black">
        <div class="container pb-4">
            <h1 class="text-center pt-5 text-uppercase"
                style="font-size:2.945026178010471vw;font-family: 'Oxygen Mono', monospace;">our services</h1>
            <div class="row mt-5">
                <div class="col-12 " style="display: flex;justify-content:center;align-items:center;">
                    <ul style="list-style: none;">
                        <li style="font-size: 1.243455497382199vw" class="pb-2"><i class="fa fa-desktop mr-2"
                                aria-hidden="true" style="color: red;font-size: 1.4397905759162304vw"></i>INTERIOR
                            TEMPLATES
                        <li style="font-size: 1.243455497382199vw" class="pb-2"><i class="fa fa-desktop mr-2"
                                aria-hidden="true" style="color: red; font-size: 1.4397905759162304vw"></i>CONTENT
                            WRITING
                        </li>
                        <li style="font-size: 1.243455497382199vw" class="pb-2"><i class="fa fa-desktop mr-2"
                                aria-hidden="true" style="color: red;font-size: 1.4397905759162304vw"></i>STATIC &
                            DYNAMIC LAYOUT
                        </li>
                        <li style="font-size: 1.243455497382199vw" class="pb-2"><i class="fa fa-desktop mr-2"
                                aria-hidden="true" style="color: red;font-size: 1.4397905759162304vw"></i>FRONT-END
                            DEVELOPMENT</li>
                        <li style="font-size: 1.243455497382199vw" class="pb-2"><i class="fa fa-desktop mr-2"
                                aria-hidden="true" style="color: red;font-size: 1.4397905759162304vw"></i>BACK-END
                            DEVELOPMENT</li>
                        <li style="font-size: 1.243455497382199vw" class="pb-2"><i class="fa fa-desktop mr-2"
                                aria-hidden="true" style="color: red;font-size: 1.4397905759162304vw"></i>PYTHON (DJANGO
                            FRAMEWORK)</li>

                    </ul>
                </div>
                <div class="container text-center py-4">

                    <a href="{% url 'services' %}" class="btn btn-outline-secondary text-center"
                        style="color: white;font-size: 1.4397905759162304vw">BACK</a>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock body %}